* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira Stencil One', sans-serif;
}

:root{
  --ship-color:  hsl(100, 1%, 57%);
  --water-color: hsl(240, 100%, 67%);
}

button, input[type="submit"]{
  background: none;
  border: 1px solid black;
}

button:hover, input[type="submit"]:hover{
  background-color: hsl(100, 0%, 90%);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* content */

#content{
  /* width: min(80vw, 500px); */
  min-height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* title */

#title{
  grid-area: title;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 5em;
  padding: 0.5em;
  font-weight: normal;
  font-family: 'Saira Stencil One', sans-serif;
}

/* toggle player form */

#togglePlayerEntryForm{
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
}

#playerEntryForm{
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'player1NameLabel player1TypeLabel'
    'player1Name player1Type'
    'player2NameLabel player2TypeLabel'
    'player2Name player2Type'
    'startButton startButton';
}

#player1NameLabel{
  grid-area: player1NameLabel;
  align-self: center;
  justify-self: center;
  text-align: center;
}
#player1TypeLabel{
  grid-area: player1TypeLabel;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#player1Name{
  grid-area: player1Name;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 10rem;
}
#player1Type{
  grid-area: player1Type;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#player2NameLabel{
  grid-area: player2NameLabel;
  align-self: center;
  justify-self: center;
  text-align: center;
}
#player2TypeLabel{
  grid-area: player2TypeLabel;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#player2Name{
  grid-area: player2Name;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 10rem;

}

#player2Type{
  grid-area: player2Type;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#startButton{
  margin-top: 1rem;
  padding: 0.5em;
  grid-area: startButton;
  align-self: center;
  justify-self: center;
  text-align: center;
  cursor: pointer;
}


/* status */

#status{
  align-self: center;
  justify-self: center;
  margin-top:1rem;
  font-size: 2rem;
}

/* Grids */

#grids{
  width:min(80vw, 1000px);
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:2rem;
  align-items: center;
  justify-content: center;
}

/* Self Grid Container */

#selfGrid{
  flex:1 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selfGridContainerTitle{
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  padding: 0.5em;
  font-family: 'Saira Stencil One', sans-serif;
}

#selfGridContainer{
  width:100%;
  aspect-ratio: 1 / 1;
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.gameGridSquare{
  border: 1px solid black;
  min-width: 2rem;
  min-height: 2rem;

}

.coloredShip{
  background-color: var(--ship-color);
  border: 1px solid black;
}

/* Enemy Grid Container */

#enemyGrid{
  flex:1 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#enemyGridContainerTitle{
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em;
  font-weight: normal;
  font-family: 'Saira Stencil One', sans-serif;
}

#enemyGridContainer{
  width:100%;
  aspect-ratio: 1 / 1;
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#enemyGridContainer>div:hover{
  background-color: red;
}

/* #enemyGridContainer>div{
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
  font-size: 1rem;
} */

.hit{
  background-color: var(--ship-color);
  background-image: url("../src/Assets/Images/fire.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border:none;
}

.miss{
  /* background-color: var(--water-color); */
  background-image: url("../src/Assets/Images/water.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border:none;
}
.hit.coloredShip{
  border: 1px solid black;
}


#placeShipModal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#placeShipModalContainer{
  display: grid;
  width: clamp(300px, 80vw, 500px);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  'gameTitle gameTitle'
  'title title'
  'subtitle subtitle'
  'shipsContainer shipsContainer'
  'grid grid'
  'resetButton cancelButton';
}

#placeShipModalGameTitle{
  grid-area: gameTitle;
  align-self: center;
  justify-self: center;
}

#placeShipModalTitle{
 grid-area: title;
 align-self: center;
 justify-self: center;
}

#placeShipModalSubtitle{
  grid-area: subtitle;
  align-self: center;
  justify-self: center;
}

#placeShipModalShipsContainer{
  grid-area: shipsContainer;
  align-self: center;
  justify-self: center;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  'title title'
  'sizeTitle sizeValues'
  'countTitle countValues'
}

#placeShipModalShipsContainerTitle{
  grid-area: title;
  align-self: center;
  justify-self: center;
}

#placeShipModalShipsContainerSizeTitle{
  grid-area: sizeTitle;
  align-self: center;
  justify-self: flex-start;
}

#placeShipModalShipsContainerCountTitle{
  grid-area: countTitle;
  align-self: center;
  justify-self: flex-start;
}

#placeShipModalShipsContainerSizeContainer{
  grid-area: sizeValues;
  align-self: center;
  justify-self: center;
  display:flex;
  flex-direction: row;
  gap: 1.5rem;
}

#placeShipModalShipsContainerCountContainer{
  grid-area: countValues;
  align-self: center;
  justify-self: center;
  display:flex;
  flex-direction: row;
  gap: 1.5rem;
}

#placeShipModalGrid{
  grid-area: grid;
  align-self: center;
  justify-self: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#placeShipModalGrid>div{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

.placeShipGridsHover:hover{
  background-color: var(--ship-color);
}

#placeShipModalResetButton{
  grid-area: resetButton;
  align-self: center;
  justify-self: center;
  margin: .5rem;
  padding: .5rem;
}

#placeShipModalCancelButton{
  grid-area: cancelButton;
  align-self: center;
  justify-self: center;
  margin: .5rem;
  padding: .5rem;
}

#switchPlayerModal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#switchPlayerModal::backdrop{
  background-color: white;

}

#switchPlayerModalContainer{
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

#switchPlayerModalDescription{
  font-size: 2rem;
  font-weight: bold;
  padding: 2em;
}

#readyToSwitchPlayerButton{
  font-weight: bold;
  padding: 1em;
  margin: 1em;
}

@media screen and (max-width: 550px) {
  #title{
    font-size: 3rem;
  }
  
}