@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --ship-color:  hsl(0, 0%, 50%);
  --water-color: hsl(240, 100%, 67%);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* content */

#content{
  /* width: min(80vw, 500px); */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'title title'
    'status status'
    'selfGridTitle selfGridTitle'
    'selfGrid selfGrid'
    'enemyGridTitle enemyGridTitle'
    'enemyGrid enemyGrid'
    ;
}

/* title */

#title{
  grid-area: title;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
}

/* status */

#status{
  grid-area: status;
  align-self: center;
  justify-self: center;
}

/* Self Grid Container Title */

#selfGridContainerTitle{
  grid-area: selfGridTitle;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
}

/* Self Grid Container */

#selfGridContainer{
  grid-area: selfGrid;
  align-self: center;
  justify-self: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#selfGridContainer>div{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.coloredShip{
  background-color: var(--ship-color);
}

/* Enemy Grid Container */

#enemyGridContainerTitle{
  grid-area: enemyGridTitle;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
}

#enemyGridContainer{
  grid-area: enemyGrid;
  align-self: center;
  justify-self: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#enemyGridContainer>div{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

.hit{
  background-color: var(--ship-color);
}

.miss{
  background-color: var(--water-color);
}

#placeShipModal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#placeShipModalContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  'gameTitle gameTitle'
  'title title'
  'subtitle subtitle'
  'shipsContainer shipsContainer'
  'grid grid'
  'resetButton cancelButton';
}

#placeShipModalGameTitle{
  grid-area: gameTitle;
  align-self: center;
  justify-self: center;
}

#placeShipModalTitle{
 grid-area: title;
 align-self: center;
 justify-self: center;
}

#placeShipModalSubtitle{
  grid-area: subtitle;
  align-self: center;
  justify-self: center;
}

#placeShipModalShipsContainer{
  grid-area: shipsContainer;
  align-self: center;
  justify-self: center;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  'title title'
  'sizeTitle sizeValues'
  'countTitle countValues'
}

#placeShipModalShipsContainerTitle{
  grid-area: title;
  align-self: center;
  justify-self: center;
}

#placeShipModalShipsContainerSizeTitle{
  grid-area: sizeTitle;
  align-self: center;
  justify-self: flex-start;
}

#placeShipModalShipsContainerCountTitle{
  grid-area: countTitle;
  align-self: center;
  justify-self: flex-start;
}

#placeShipModalShipsContainerSizeContainer{
  grid-area: sizeValues;
  align-self: center;
  justify-self: center;
  display:flex;
  flex-direction: row;
  gap: 1.5rem;
}

#placeShipModalShipsContainerCountContainer{
  grid-area: countValues;
  align-self: center;
  justify-self: center;
  display:flex;
  flex-direction: row;
  gap: 1.5rem;
}

#placeShipModalGrid{
  grid-area: grid;
  align-self: center;
  justify-self: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  display:grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#placeShipModalGrid>div{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

#placeShipModalResetButton{
  grid-area: resetButton;
}

#placeShipModalCancelButton{
  grid-area: cancelButton;
}